<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfengsix.hotel.mapper.OrderMapper">
    <insert id="addOrder">
        INSERT INTO qf_order(order_id,order_userid, order_itemid, order_itemType, order_quantity, order_price, order_date) VALUES
        (#{order_id},#{order_userid},#{order_itemid},#{order_itemType},#{order_quantity},#{order_price},#{order_date})
    </insert>
    <select id="getOrderByUserid" resultType="com.qianfengsix.hotel.order.pojo.Order">
        SELECT * from qf_order where order_userid=#{user_id}
    </select>
    <select id="getOrderByOrderid" resultType="com.qianfengsix.hotel.order.pojo.Order">
        SELECT * from qf_order where order_id=#{orderid}
    </select>
    <update id="updateOrderStatus">
        UPDATE qf_order SET order_status=1 WHERE order_id=#{orderid}
    </update>
</mapper>